@page "{id}"
@model SimpleAccountingSoftware.DeleteModel
@{
    ViewData["Title"] = "Delete";
    ViewData["ShowButtons"] = false;
}

<h1>Delete Confirmation</h1>

<div class="alert alert-danger">
    <partial name="_DisplayItemPartial" model="Model.Item" view-data="ViewData" />
    <h5>Are you sure you want to delete item - @Model.Item.Name [@Model.Item.Sku]?</h5>

    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Inventory/Index">No</a>
    </form>
</div>

